
<div class="account">

	<div class="row">
		<div class="col-md-5 account-block">

			<div class="text-center account-picture-block panel panel-default">
				<div class="panel-body">
					<div>
						<a href="/account/edit"><img src="{{avatar_url}}" class="user-profile-picture img-thumbnail"/></a>
					</div>

					<div>
						<div>
							<span>
								<span class="account-username"> {{username}}</span>
							</span>
						</div>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-body">

					<span class="account-bio-label">网站</span>
					<span class="account-bio-value"><a href="{{website}}">{{website}}</a></span>

					<span class="account-bio-label">地址</span>
					<span class="account-bio-value">{{location}}</span>

					<hr/>
					<span class="account-bio-label">签名</span>
					<div class="post-signature">
						<span id='signature'>{{signature}}</span>
					</div>
		
				</div>
			</div>

		</div>

	</div>
	<br/>

</div>

